.btn {
  margin: 0 5px;
  padding: 2px 10px 0px 10px;
  min-width: 90px;
  min-height: 50px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.delete {
  background-color: #a30000;
  border: 1.5px solid #ffffff;
  color: #ffffff;
}

.delete:hover {
  background-color: #ffffff;
  border: 1.5px solid #a30000;
  color: #a30000;
}

.deleteIcon {
  background-image: url('../../../../public/assets/images/delete-icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  font-size: 0;
  min-height: 30px;
  min-width: 30px;
  padding: 0;
}

.deleteIcon:hover {
  background-image: url('../../../../public/assets/images/trash_hover.svg');
}

.edit:hover {
  background-image: url('../../../../public/assets/images/hover_edit.svg');
}

.seePassword:hover {
  background-image: url('../../../../public/assets/images/pass_hover.svg');
}

.edit {
  background-image: url('../../../../public/assets/images/edit-icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  font-size: 0;
  min-height: 30px;
  min-width: 30px;
}

.sandwichIcon {
  background-image: url('../../../../public/assets/images/Icono-menu.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  font-size: 0;
  min-height: 40px;
  min-width: 40px;
}

.sandwichIcon:hover {
  background-image: url('../../../../public/assets/images/Icono-menu-hover.svg');
}

.exitIcon {
  background-image: url('../../../../public/assets/images/Icon-x.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  font-size: 0;
  min-height: 55px;
  min-width: 55px;
}

.exitIcon:hover {
  background-image: url('../../../../public/assets/images/Icon-x-hover.svg');
}

.seePassword {
  background-image: url('../../../../public/assets/images/pass_icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  font-size: 0;
  min-height: 30px;
  min-width: 33px;
}

.add {
  background-color: #46a37c;
  border: 1.5px solid #ffffff;
  color: #ffffff;
}

.add:hover {
  background-color: #ffffff;
  border: 1.5px solid #46a37c;
  color: #46a37c;
}

.white {
  background-color: #ffffff;
  border: 1.5px solid #000000;
  color: #000000;
}

.white:hover {
  background-color: #000000;
  border: 1.5px solid #ffffff;
  color: #ffffff;
}

