.btn {
  margin: 0 5px;
  padding: 2px 10px 0px 10px;
  min-width: 90px;
  min-height: 50px;
  font-size: 20px;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.delete {
  background-color: #cd3133;
  border: none;
  color: #ffffff;
}

.delete:hover {
  background-color: #ffffff;
  border: 1.5px solid #cd3133;
  color: #cd3133;
}

.deleteIcon {
  background-image: url('../../../../public/assets/images/delete-icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-size: 0;
  min-height: 30px;
  min-width: 30px;
  padding: 0;
}

.deleteIcon:hover {
  background-image: url('../../../../public/assets/images/trash_hover.svg');
}

.edit:hover {
  background-image: url('../../../../public/assets/images/hover_edit.svg');
}

.seePassword:hover {
  background-image: url('../../../../public/assets/images/pass_hover.svg');
}

.edit {
  background-image: url('../../../../public/assets/images/edit-icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-size: 0;
  min-height: 30px;
  min-width: 30px;
}

.seePassword {
  background-image: url('../../../../public/assets/images/pass_icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  font-size: 0;
  min-height: 30px;
  min-width: 33px;
}

.add {
  background-color: #49A37B;
  border: none;
  color: #ffffff;
}

.add:hover {
  background-color: #ffffff;
  border: 1.5px solid #49A37B;
  color: #49A37B;
}

.white {
  background-color: #ffffff;
  border: 2px solid #373867;
  color: #373867;
}

.white:hover {
  background-color: #373867;
  border: 2px solid #ffffff;
  color: #ffffff;
}