button {
  margin: 0 5px;
  padding: 2px 10px 0px 10px;
  min-height: 30px;
  background-color: lightcoral;
  border-radius: 5px;
  border: 1px solid #7d1f1f;
}

.delete {
}
.edit {
}

.white {
}
.add {
}

.disabled {
}
