.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/assets/images/super-admin-background.png');
  background-size: cover;
}

p {
  margin:0;
}

.box {
  color: white;
  width: 85vw;
  background-color: rgba(55, 56, 103, 0.5);
  padding: 2vw;
  border-radius: 1vw;
}

.table{
  display: flex;
  width: 95%;
}

tr:nth-child(even) {
  background-color: rgba(55, 56, 103, 0.7);
}

th {
  text-align: left;
}

.tdText {
  width: 40vw;
}

.tdBtn {
  text-align: center;
  width: 12vw;
}
 
.titleForm, .titleTable{
  text-align: center;
}

.formPost {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 5vw;
}

.submitBtn {
  width: 10vw;
  height: 4vw;
  color: white;
  font-weight: bold;
  background-color: green;
  border:none; 
  border-radius: 0.5vw;
  cursor:pointer;
}

.acceptBtn {
  width: 7vw;
  height: 2vw;
  color: white;
  font-weight: bold;
  background-color: green;
  border:none; 
  border-radius: 0.5vw;
  cursor:pointer;
}

.cancelBtn {
  width: 7vw;
  height: 2vw;
  color: white;
  font-weight: bold;
  background-color: red;
  border:none; 
  border-radius: 0.5vw;
  cursor:pointer;
}

.deleteBtn {
  width: 2vw;
  height: 2vw;
  border: none;
  background-color: transparent;
  background-image: url(../../../public/assets/images/super-admin-delete-icon.png);
  background-size: cover;
  cursor:pointer;
}

.editBtn {
  width: 2vw;
  height: 2vw;
  border: none;
  background-color: transparent;
  background-image: url(../../../public/assets/images/super-admin-edit-icon.png);
  background-size: cover;
  cursor:pointer;
}

.passBtn {
  width: 2.5vw;
  height: 2.5vw;
  border: none;
  background-color: transparent;
  color:white;
  background-image: url(../../../public/assets/images/super-admin-pass-icon.png);
  background-size: cover;
  cursor:pointer;
}

.pass {
  -webkit-text-security: disc; /* Para navegadores basados en WebKit */
  -moz-text-security: disc; /* Para navegadores basados en Gecko (Firefox) */
}
