@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/assets/images/subscriptions-background.jpg');
}

.list {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px;
  background-color: rgba(55, 56, 103, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: white;
  font-size: 40px;
  line-height: 48px;
}

.btn {
  width: 150px;
  height: 50px;
  background-color: #46A37C;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.table {
  text-align: left;
  align-self: center;
  width: 80%;
  border-collapse: collapse;
}

.thead {
  padding: 8px;
}

.tr {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.td {
  border-bottom: 1px solid #FFFFFF;
  padding: 10px;
}

.form {
  margin-top: 50px;
  background-color: rgba(55, 56, 103, 0.05);
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.label {
  padding-right: 20px;
  width: 10%;
  margin-left: 10%;
}

.inputBox {
  display: flex;
  align-items: center;
}

.btnAdd {
  margin-top: 10px;
  margin-left: 10%;
  width: 150px;
  height: 60px;
  background-color: #46A37C;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.btnEdit {
  margin-top: 10px;
  margin-left: 10%;
  width: 100px;
  height: 30px;
  background-color: #ffc904;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.deleteBtn {
  width: 2vw;
  height: 2vw;
  border: none;
  background-color: transparent;
  background-image: url(../../../public/assets/images/super-admin-delete-icon.png);
  background-size: cover;
  cursor: pointer;
}

.editBtn {
  width: 2vw;
  height: 2vw;
  border: none;
  background-color: transparent;
  background-image: url(../../../public/assets/images/super-admin-edit-icon.png);
  background-size: cover;
  cursor: pointer;
}

.passBtn {
  width: 2.5vw;
  height: 2.5vw;
  border: none;
  background-color: transparent;
  color: white;
  background-image: url(../../../public/assets/images/super-admin-pass-icon.png);
  background-size: cover;
  cursor: pointer;
}

.pass {
  -webkit-text-security: disc;
  /* Para navegadores basados en WebKit */
  -moz-text-security: disc;
  /* Para navegadores basados en Gecko (Firefox) */
}