@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* .sidebar{
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

.aside {
  position: absolute;
  top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 300px;
  height: 1000px;
  background: #373867;
  text-align: left;
}

.menuTitle {
  color: #46A37C;
  font-size: 30px;
  font-weight: 700;
  height: 10%;
  min-height: 50px;
  margin: 0;
  padding: 30px 0;
}

.menuIcon{
display: flex;
padding-top: 23px;
}

.buttons,
.contact {
  width: 95%;
  margin: 0;
}

.buttons {
  padding-top: 40px;
}

.link {
  min-height: 70px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 2px solid #C4C4C4;
  text-decoration: none;
  height: 5vh;
  padding: 10px 0;
  margin: 0;
}

.contact {
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  min-height: 300px;
  margin: 0;
}

.contactTitle {
  color: #46A37C;
  font-size: 30px;
  font-weight: 700;
  height: 10%;
  min-height: 50px;
  margin: 0;
  padding: 30px 0;
}

.contactItem {
  min-height: 70px;
  height: 5vh;
  display: flex;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid #C4C4C4;
  text-align: center;
}

.contactItem h4 {
  width: 100%;
  font-size: 14px;
  display: flex;
  align-self: center;
  justify-self: flex-start;
  padding-left: 10px;
}

.contactItem img {
  margin-right: 20px;
  width: 40px;
}

.div {
  height: 77vh;
}

.customLink {
  text-decoration: none;
  color: #C4C4C4;
}

.customLink:hover {
  color: #46a37c;
}

.sandwichBlock {
  display: flex;
}

.sandwich {
  display: inline-block;
  align-self: center;
  padding-right: 20px;
}