.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #373867;
  font-size: 40px;
  font-weight: 400;
  line-height: 35px;
}

.form {
  width: 60%;
}

.checkbox {
  display: flex;
  margin: 20px 0;
}

.checkbox label {
  font-family: 'Roboto', sans-serif;
  color: #373867;
  font-size: 20px;
  line-height: 29px;
  margin-right: 20px;
}

.btns {
  margin: 20px 0;
}