
.table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
}

.tbody {
  color: white;
  font-size: 20px;
  line-height: 24px;
}

.table tr:nth-child(odd) {
  background-color: rgba(55, 56, 103, 0.1);
}

.trHead, .trBody {
  height: 70px;
}

.trHead {
  font-size: 22px;
  font-weight: 600;
  line-height: 14px;
}

.trBody {
  font-size: 18px;
  border-bottom: 3px solid white;
}

.thName {
  text-align: start;
  width: 20%;
}

.thDes {
  text-align: start;
  width: 55%;
}

.thStatus {
  text-align: start;
  width: 15%;
}

.thIcon {
  width: 10%;
}

.icon {
  cursor: pointer;
}

.tdIcon {
  text-align: center;
}

