.tableContainer {
  display: flex;
  justify-content: center;
  width: 77vw;
}

.table {
  text-align: left;
  align-self: center;
  width: 93%;
  border-collapse: collapse;
}

.trHead {
  border-bottom: 3px solid white;
}

.tHead {
  color: white;
  line-height: 24px;
}

.tbody {
  color: white;
  font-size: 20px;
  line-height: 24px;
}

.trBody {
  font-size: 18px;
}

.thName {
  text-align: start;
  width: 15vw;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.thDes {
  text-align: start;
  width: 45vw;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.thStatus {
  text-align: start;
  width: 10vw;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.tdBtn {
  width: 4vw;
  padding-bottom: 1vh;
  padding-top: 1vh;
}