.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../../public/assets/images/admins-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 770px;
}

.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 50px;
    padding: 50px 0;
    background-color: rgba(55, 56, 103, 0.8);
    border-radius: 1vw;
}

.title {
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 48px;
    width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.buttons {
    align-self: center;
    margin: 20px 0;
}

.comment {
    color: white;
    font-size: 16px;
    line-height: 24px;
}