@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.th,
.td {
  text-align: start;
}

.th {
  padding-bottom: 1vw;
}

.lastTh {
  width: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 71.4vh;
  background-image: url('../../../public/assets/images/admins-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 200px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 50px;
  padding: 50px 0;
  background-color: rgba(55, 56, 103, 0.8);
  font-family: 'Roboto', sans-serif;
  border-radius: 1vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 80%;
  margin-bottom: 20px;
}

.title {
  color: white;
  font-size: 40px;
  line-height: 48px;
}

.table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
}

.thead {
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 20px;
  border-bottom: 3px solid white;
}

.tbody {
  color: white;
  font-size: 20px;
  line-height: 24px;
}

.tr {
  height: 50px;
  margin-bottom: 20px;
}

.icons {
  text-align: end;
}

.emptySpan {
  color: white;
  font-size: 20px;
  font-weight: bold;
}