@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.th,
.td {
  text-align: start;
}

.td {
  border-bottom: 3px solid white;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/assets/images/admins-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 50px;
  padding: 50px 0;
  background-color: rgba(55, 56, 103, 0.5);
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 80%;
  margin-bottom: 20px;
}

.title {
  color: white;
  font-size: 40px;
  line-height: 48px;
}

.table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
}

.thead {
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 20px;
}

.tbody {
  color: white;
  font-size: 20px;
  line-height: 24px;
}

.tr {
  border-bottom: 3px solid white;
  height: 50px;
  margin-bottom: 20px;
}

.icons {
  text-align: end;
}

.icons img {
  margin-right: 20px;
  cursor: pointer;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
}

.emptySpan {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
}

.modalHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.modalForm {
  display: flex;
  flex-wrap: wrap;
}

.modalBtns {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}
