* {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../../../public/assets/images/admins-background.jpg');
  font-weight: bold;
}

.header {
  margin: 25px 0;
}

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 95vw;
  margin-bottom: 75px;
}

.activity {
  border-radius: 5px;
  border-width: 1.3px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: column;
  width: 20vw;
  max-height: 65vh;
  background-color: #474885;
  border-right: white solid 0.1px;
  border-bottom: white solid 0.1px;
}

.activityImage img {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
}

.activityData {
  max-height: 28vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.activityName {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
  padding: 15px 0;
}

.activityDescription {
  padding: 10px 5px 10px 7px;
  overflow-y: scroll;
  height: 100%;
  font-size: 18px;
}
