@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 71.4vh;
  background-image: url('../../../../public/assets/images/admins-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 200px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 50px;
  padding: 50px 0;
  background-color: rgba(55, 56, 103, 0.8);
  font-family: 'Roboto', sans-serif;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1vw;
  width: 60%;
}

.title {
  color: white;
  font-size: 40px;
  line-height: 48px;
}

.passMessage {
  color: white;
  padding-left: 5px;
}

.inputGroup {
  width: 90%;
}

.modalBtns {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.column {
  width: 50%;
}

.password {
  width: 45%;
}