@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.label {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 29px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  border: 2px solid #373867;
  border-radius: 30px;
  background-color: #F3F3F5;
  height: 50px;
  padding: 20px;
  color: #131313;
  font-size: 16px;
}

.dark {
  color: #373867;
}

.select {
  padding: 10px;
  height: 50px;
}

.input::placeholder {
  color: rgba(55, 56, 103, 0.8);
}

.textarea {
  font-family: 'Roboto', sans-serif;
  height: 100px;
  resize: none;
}

.error {
  display: flex;
  align-items: center;
  min-height: 27px;
  margin: 8px;
  padding-left: 12px;
  color: rgb(255, 255, 255);
  background-color: #F23F42;
  border-radius: 15px;
  font-size: 15px;
}

.error img {
  margin-right: 10px;
}

.hidden {
  margin: 8px;
  visibility: hidden;
}