@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.label {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 29px;
}
.input {
  width: 100%;
  border: 2px solid #373867;
  border-radius: 4px;
  background-color: #F3F3F5;
  height: 40px;
  padding: 20px;
  color: #131313;
  font-size: 16px;
}
.dark {
  color: #373867;
}
.select {
  padding: 0;
}
.input::placeholder {
  color: rgba(55, 56, 103, 0.8);
}
.textarea {
  font-family: 'Roboto', sans-serif;
  height: 100px;
  resize: none;
}

.error {
  color: rgb(255, 255, 255);
  background-color: #F23F42;
  border-radius: 6px;
  min-height: 20px;
  font-size: 15px;
  font-style: italic;
  padding-left: 5px;
}
