@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.label {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 29px;
}
.input {
  width: 100%;
  border: 2px solid #2f3058;
  border-radius: 4px;
  background-color: rgba(165, 165, 165, 0.5);
  height: 40px;
  padding: 20px;
  color: white;
  font-size: 16px;
}
.input::placeholder {
  color: rgba(55, 56, 103, 0.8);
}
.textarea {
  font-family: 'Roboto', sans-serif;
  min-height: 25px;
  resize: none;
}
