@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-image: url('../../../../public/assets/images/admins-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 73.1vh;
}

.list {
  display: flex;
  flex-flow: column;
  width: 100%;
  background-color: rgba(55, 56, 103);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
  padding: 10px 30px;
  margin: 80px 0px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.welcome {
  display: block;
  padding: 5px 0;
  margin: 0;
  font-size: 30px;
  color: white;
}

.title {
  display: block;
  padding: 5px 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #46a37c;
}

.today {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.nextToEachOther {
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.small {
  width: 20%;
  padding: 0 20vh;
}

.big {
  justify-items: center;
  width: 90%;
  padding: 0 3vh;
  height: 550px;
}

.onTop {
  width: 80%;
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.h2 {
  margin: 50px 0 0 0;
  font-size: 40px;
  font-weight: 600;
  color: white;
}