.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 71.4vh;
  margin-top: 200px;
}

.header {
  margin: 25px 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}