.container {
  width: 100%;
  height: 100%;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/gym-background.png');
}

.tableCloth {
  margin: 1%;
  padding: 2% 2% 4% 2%;
  background-color: rgba(18, 18, 176, 0.306);
}

.activity {
  width: 15%;
}

.description {
  width: 70%;
}

.icon {
  text-align: center;
  width: 2%;
}

.add {
  margin: 30px 30px 0 0;
  float: right;
  width: 100px;
  height: 50px;
  border: solid 2px white;
  border-radius: 999px;
  font-size: 30px;
  color: white;
  background-color: blue;
}

.confirmAdd {
  width: 10%;
  margin: auto;
  border-radius: 999px;
  color: white;
  border: solid 2px white;
  background-color: rgb(23, 96, 23);
}

input,
textarea {
  margin: 10px auto;
  border-radius: 999px;
}

input {
  padding: 10px;
  width: 30%;
  height: 20px;
}

textarea {
  padding: 20px;
  width: 30%;
  height: 50px;
}

h2 {
  text-align: center;
  font-size: 60px;
}

th {
  text-align: left;
  border: solid 1px white;
}

table {
  font-size: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
  border: solid 10px rgb(9, 9, 45);
}

tbody {
  width: 100%;
}

td {
  border: solid 1px white;
}

.titles {
  display: flex;
  justify-content: space-between;
}

.icons {
  align-self: flex-end;
}

.form {
  display: flex;
  flex-flow: column;
}