.container {
  width: 100%;
  height: 100%;
  color: white;
  background-image: url('./assets/gym-background.png');
}

.table {
  margin: 0;
  padding: 0 20px;
  border: solid 2px white;
}

.activity {
  width: 40%;
}

.titles {
  display: flex;
  justify-content: space-between;
}

.icons {
  align-self: flex-end;
}

.form {
  display: flex;
  flex-flow: column;
}