.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  height: 130px;
  background: #373867;}

.socialIcon {
  margin-left: 15px;
  color: white;
}

@media screen and (min-width: 750px) {
  .container {
    padding: 0 10%;
  }

  .navbar {
    padding: 0 20%;
  }
}