@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../../public/assets/images/subscriptions-background.jpg');
  background-size: cover;
  min-height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  margin: 2vw;
  border-radius: 1vw;
  padding: 1.5vw;
  background-color: rgba(55, 56, 103, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Roboto', sans-serif;
}

.formTitle {
  color: white;
  font-size: 30px;
}

.inputBox {
  width: 20vw;
}

.formBtns {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.checkboxField {
  align-self: flex-start;
  margin-top: 0.5vw;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.checkboxField label {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 29px;
  margin-right: 20px;
  padding-left: 7px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 360px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkbox:checked + .slider {
  background-color: #49A37B;
}

.checkbox:focus + .slider {
  box-shadow: 0 0 1px #49A37B;
}

.checkbox:checked + .slider:before {
  -webkit-transform: translateX(320px);
  -ms-transform: translateX(320px);
  transform: translateX(320px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}