@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/assets/images/subscriptions-background.jpg');
}

.list {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 2vw;
  border-radius: 1vw;
  padding: 1.5vw;
  background-color: rgba(55, 56, 103, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: white;
  font-size: 4vw;
}

.table {
  text-align: left;
  align-self: center;
  width: 70vw;
  border-collapse: collapse;
}

.thead {
  font-size: 2.2vw;
  padding-bottom: 1vw;
  width: 14.8w;
  color: white;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 15vw;
  color: white;
  font-size: 3vw;
  text-align: center;

}

.loadingTitle {
  display: inline-block;
}

.trHead {
  background-color: rgba(55, 56, 103, 0.9);
}

.tr {
  color: white;
  font-size: 2vw;
}

.tr:nth-child(even) {
  background-color: rgba(55, 56, 103, 0.7);
}

.td {
  width: 15vw;
}

.tdBtn {
  width: 5vw;
}
