@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(44, 44, 44, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: bold;
  color: #373867;
}

.modalOverlayPop {
  position: fixed;
  top: 0.4vw;
  right: 0.4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: bold;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.modalOverlayPop.open {
  opacity: 1;
  transform: translateX(0);
}

.modalChildren {
  display:flex;
  justify-content: space-around;
}

.modalContent {
  display:flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border-radius: 0.5vw;
  padding: 1vw;
  min-height: 5vw;
  min-width: 20vw;
}

.modalSuccess {
  background-color: #49A37B;
  border: 0.1vw solid white;
  min-height: 5vw;
  min-width: 20vw;
  max-width: 25vw;
  color: white;
  letter-spacing: 0.5px;
}

.modalError {
  background-color: #a30000;
  border: 0.1vw solid white;
  min-height: 5vw;
  min-width: 20vw;
  max-width: 25vw;
  color: white;
  letter-spacing: 0.5px;
}

.modalTitle {
  display: inline-block;
  margin: 0;
  font-size: 22px;
}

.modalWarn {
  color: #a30000;
}

.modalText{
  align-self: center;
  margin: 2vw 0;
  font-size: 16px;
}

.modalCloseBtn {
  position:absolute;
  top: 0;
  right: 0;
  font-size: 1.2vw;
  width: 2vw;
  height: 2vw;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modalCloseBtn:hover {
  color: red; 
}