@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(44, 44, 44, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: bold;
  color: #373867;
}

.modalContent {
  position: relative;
  background-color: #fff;
  border-radius: 0.5vw;
  padding: 1vw;
  max-width: 30vw;
  width: 100%;
}

.modalHeader {
  display:flex;
  justify-content: space-between;
}

.modalTitle {
  display: inline-block;
  width: 34vw;
  margin:0;
  font-size: 26px;
}

.modalCloseBtn {
  font-size: 24px;
  width: 2vw;
  height: 2vw;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modalCloseBtn:hover {
  color: red; 
}