@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(44, 44, 44, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: bold;
  color: #373867;
}

.modalOverlaySuccess {
  position: fixed;
  top: 1vw;
  right: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: bold;
  color: #373867;
}

.modalChildren {
  display:flex;
  justify-content: space-around;
}

.modalContent {
  display:flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border-radius: 0.5vw;
  padding: 1vw;
  max-width: 35vw;
  width: 100%;
}

.modalSuccess {
  background-color: #49A37B;
  height: 8vw;
  color: white;
  letter-spacing: 0.5px;
}

.modalTitle {
  display: inline-block;
  margin-top: 0;
  width: 34vw;
  font-size: 2vw;
}

.modalWarn {
  color: red;
}

.modalText{
  align-self: center;
  margin-bottom: 4vw;
}

.modalCloseBtn {
  position:absolute;
  top: 1vw;
  right: 1vw;
  font-size: 2vw;
  width: 2vw;
  height: 2vw;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modalCloseBtn:hover {
  color: red; 
}