@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../../../public/assets/images/admins-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 80vh;
}
.reports {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: 20px;
  padding: 20px 0;
  background-color: rgba(55, 56, 103, 0.8);
}

.title {
  color: white;
  font-size: 40px;
  line-height: 48px;
}
