@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../../../public/assets/images/admins-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 80vh;
  min-height: 71.4vh;
  margin-top: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: 0 20px;
  padding: 20px 0;
  border-radius: 10px;
}

.repcontainer {
  width: 70%;
  padding: 20px;
  margin: 20px;
  background-color: rgba(55, 56, 103);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
}

.repcontainerBottom {
  width: 70%;
  padding: 20px;
  margin: 20px;
  min-height: 130px;
  background-color: rgba(55, 56, 103);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
}

.repcontainerLoading {
  width: 70%;
  height: 100px;
  margin: 30px auto;
  background-color: rgba(55, 56, 103);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
}

.repcontainerLoadingMiddle {
  width: 70%;
  height: 100px;
  margin: 30px auto;
  background-color: rgba(55, 56, 103);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 60px 0;
}

.margin {
  margin-bottom: 20px;
}

.reports {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 20px;
  margin-left: 14px;
  font-size: 20px;
  color: white;
}

.title {
  color: white;
  font-size: 45px;
  margin: 0;
  padding: 10px 0;
}

.subtitle {
  color: #46a37c;
  margin: 10px 30px;
}

.popular {
  font-size: 20px;
  color: white;
  padding: 0 30px;
}

.popularContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index {
  text-align: center;
  font-weight: bold;
  background-color: #46a37cbb;
  border-radius: 63px;
}

.largerTop {
  margin: 0;
  width: 21%;
  text-align: center;
  min-width: 200px;
}

.smallerBottom {
  margin: 0;
  width: 18%;
  text-align: center;
}

.reportText {
  margin: 10px;
}