@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-image: url('../../../../public/assets/images/admins-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 71vh;
  margin-top: 200px;
}

.list {
  display: flex;
  flex-flow: column;
  width: 100%;
  background-color: rgb(255 255 255);
  border-radius: 1vw;
  padding: 12px 20px;
  margin: 50px 0px;
}

.welcome {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 26px;
  color: #373867;
}

.title {
  display: block;
  margin: 0;
  font-size: 16px;
  color: #46a37c;
}

.today {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.nextToEachOther {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.big {
  justify-items: center;
  width: 90%;
  padding: 0 3vh;
  height: 20%;
}

.onTop {
  width: 55%;
  margin: 2%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgba(55, 56, 103, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
  padding: 50px;
}

.h2 {
  height: 10%;
  margin: 0;
  font-size: 35px;
  color: white;
}

.btns {
  display: flex;
}

.btn button {
  width: 197px;
}
