.container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}

.introduction{
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid black;
}

.introductionBox{
  display: flex;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
}

.introductionImg {
  display: flex;
  width: 50%;
  box-sizing: border-box;
}

.meetUs{
    padding-bottom: 50px;
    border-bottom: 2px solid black;
}

.meetUsBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  display: flex;
  align-items: center;
  width: calc(50% - 10px);
  margin-bottom: 50px;
}

.box img {
  margin-right: 20px;
}

.contactUs {
  padding-bottom: 50px;
  border-bottom: 2px solid black;
}

.aboutUs {
  padding-bottom: 50px;
  border-bottom: 2px solid black;
}