.container {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 40px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../../public/assets/images/admins-background.jpg');
}

.transparetnBlue {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 5%;
  padding: 7%;
  width: 70%;
  height: 70%;
  background-color: rgba(52, 52, 135, 0.441);
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.table {
  width: 100%;
}

.small {
  width: 10%;
  text-align: left;
  border-bottom: solid 4px white;
  border-collapse: collapse;
}

.medium {
  width: 15%;
  text-align: left;
  border-bottom: solid 4px white;
  border-collapse: collapse;
}

.large {
  width: 30%;
  text-align: left;
  border-bottom: solid 4px white;
  border-collapse: collapse;
}