.container {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 25px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../../public/assets/images/admins-background.jpg');
  min-height: 700px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
}

.error {
  font-size: 60px;
}

.buttons {
  display: flex;
  align-self: center;
  margin-top: 20px;
  width: 30%;
}

.transparetnBlue, .transparetnBlueForm {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 1.5vw;
  width: 80vw;
  background-color: rgba(55, 56, 103, 0.8);
  border-radius: 1vw;
  box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.59);
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.table {
  margin: 0;
  padding: 0;
  width: 70vw;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.tr {
  height: 55px;
}

.border {
  border-bottom: solid 4px white;
}

.small {
  width: 10%;
  text-align: left;
  padding-bottom: 1vw;
}

.medium {
  width: 20%;
  text-align: left;
  padding-bottom: 1vw;
}

.large {
  width: 30%;
  text-align: left;
  padding-bottom: 1vw;
}

.loading {
  margin: 50px;
}

.fixed {
  position: fixed;
  width: 55%;
  top: 35%;
}

.loading {
  border-radius: 20px;
  box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.59);
}