.container {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 20px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../../public/assets/images/admins-background.jpg');
  min-height: 922px;
}

.error {
  font-size: 60px;
}

.buttons {
  display: flex;
  margin-top: 20px;
  width: 30%;
}

.transparetnBlue {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 0 5% 5% 5%;
  padding: 300px 7% 7% 7%;
  width: 70%;
  min-width: 600px;
  height: 70%;
  background-color: rgba(55, 56, 103, 0.8);
  max-height: 600px;
  overflow-y: scroll;
}

.transparetnBlueForm {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 5%;
  padding: 7%;
  width: 70%;
  min-width: 600px;
  height: 70%;
  background-color: rgba(55, 56, 103, 0.8);
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.table {
  margin-bottom: 30px;
  width: 100%;
  border-collapse: collapse;
}

.small {
  width: 10%;
  text-align: left;
  border-bottom: solid 4px white;
}

.medium {
  width: 20%;
  text-align: left;
  border-bottom: solid 4px white;
}

.large {
  width: 30%;
  text-align: left;
  border-bottom: solid 4px white;
}

.loading {
  margin: 50px;
}

.onTop {
  display: flex;
  justify-content: space-between;
  background-color: rgba(55, 56, 103, 0.8);
  width: 70%;
  margin: 50px 0 0 0;
  padding: 50px 160px 0 160px;
}