@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../../public/assets/images/subscriptions-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 700px;
}

.signupContainer {
  display: flex;
  background-image: url('../../../../public/assets/images/subscriptions-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  width: 40vw;
  border-radius: 1vw;
  margin: 2vw;
  background-color: rgba(55, 56, 103, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.6vw;
  padding: 1.5vw;
  font-family: 'Roboto', sans-serif;
}

.formTitle {
  color: white;
}

.inputBox {
  width: 20vw;
}
.checkboxField{
  align-self: flex-start;
  margin-top: 0.5vw;
}

.checkboxField label {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 29px;
  margin-right: 20px;
}

.checkbox {
  accent-color: white;
  width: 18px;
  height: 18px;
}

.formBtns {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  margin-top: 2vw;
}

.signupButton {
  margin-top: 30px;
}