@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  margin-top: 50px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  background-image: url(../../../../public/assets/images/admins-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

.whiteLetters {
  color: white;
  text-align: center;
}

.form {
  background-color: rgba(55, 56, 103, 0.8);
  min-width: 60vw;
  padding: 50px 150px;
}

.theButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}

.checkbox {
  margin-top: 5px;
  font-size: 20px;
}
