@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 25px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../../../public/assets/images/subscriptions-background.jpg');
  min-height: 80vh;
}

.signupContainer {
  display: flex;
  background-image: url('../../../../public/assets/images/subscriptions-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  box-shadow: 0px 0px 41px 4px rgba(0, 0, 0, 0.71) inset;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  width: 47vw;
  padding: 30px;
  border-radius: 1vw;
  margin: 2vw;
  background-color: rgba(55, 56, 103, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inAdminBox {
  display: flex;
  justify-content: center;
  width: 40vw;
  border-radius: 1vw;
  margin: 2vw;
  background-color: rgba(55, 56, 103, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  font-family: 'Roboto', sans-serif;
}

.columns {
  display: flex;
}

.column {
  padding: 20px;
  display: flex;
  flex-flow: column;
}

.formTitle {
  color: white;
}

.inputBox {
  width: 100%;
}

.checkboxField {
  align-self: flex-start;
  margin-top: 0.5vw;
  display: flex;
  flex-direction: column;
}

.checkboxField label {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 29px;
  margin-right: 20px;
}

.formBtns {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  margin: 2vw 0;
}

.signupButton {
  margin: 0;
  text-align: center;
  width: 100%;
}

.signupButton button {
  width: 60%;
}

.row {
  display: flex;
}

.error {
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  height: 40px;
  width: fit-content;
  padding: 14px;
  color: rgb(255, 255, 255);
  background-color: #f23f42d6;
  border-radius: 6px;
  font-size: 15px;
}

.errorHidden {
  margin: 0;
  visibility: hidden;
}

.error img {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkbox:checked + .slider {
  background-color: #49A37B;
}

.checkbox:focus + .slider {
  box-shadow: 0 0 1px #49A37B;
}

.checkbox:checked + .slider:before {
  -webkit-transform: translateX(250px);
  -ms-transform: translateX(250px);
  transform: translateX(260px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}